.wrapper {
  padding-bottom: 30px;
  height: 100vh;
  width: 100%;
  overflow: auto;
  padding-bottom: 100px;
  background-color: #292929;
  background-image: url(../../assets/main-bg.png);
  background-size: 100% auto;
  color: white;
}
