*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  height: 100%;
}

/* Main site styles */
:root {
  --primary-color: #00c4ff;
  --dark-background: #292929;
  --accent-dark-color: #2e2e2e;
  --secondary-color: #6200ee;
  --secondary-accent-color: #5620e8;
  --default-text: #ffffff;
  --text-placeholder: #78849e;
  --default-border-radius: 15px;
  --top-border-radius: 10px 10px 0 0;
  --btm-border-radius: 0 0 10px 10px;
  --button-border-radius: 10px;
  --button-border-width: 2px;
}

.knot-container {
  position: relative;
  margin: 30px auto;
  width: 1000px;
  height: 900px;
}

#main-knot {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sherpa-img {
  position: absolute;
  height: 25%;
}

.s-1 {
  left: 50%;
  top: 120px;
  transform: translate(-50%, -50%);
}

.s-2 {
  left: 71.5%;
  top: 340px;
  transform: translate(-50%, -50%);
}

.s-3 {
  left: 71.5%;
  top: 550px;
  transform: translate(-50%, -50%);
}

.s-4 {
  left: 28.5%;
  top: 340px;
  transform: translate(-50%, -50%);
}

.s-5 {
  left: 28.5%;
  top: 550px;
  transform: translate(-50%, -50%);
}
