.LP-container {
  /* background-image: url(../../assets/main-knot.png); */
  /* height: auto; */
  width: 100vw;
}

.register-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#know {
  font-family: poppins;
  font-size: 1.5em;
  line-height: 1.2em;
  text-align: center;
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#back {
  font-family: poppins;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 50px;
}

#link {
  color: var(--default-text);
}

#link:hover {
  color: var(--primary-color);
}

@media only screen and (max-device-width: 1012px) and (-webkit-min-device-pixel-ratio: 2) {
  #know #back {
    font-size: 130%;
  }
}
