.dash-section-1 {
    width: auto;
    text-align: center;
}

.section-title {
    font-family: 'Poppins';
    font-weight: 300;
    margin: 0 0 0 0;
}

.sherpa-img-smaller {
    max-width:50%;
    height:auto;
}

.challenges-container {
    margin: 20px;
    padding: 20px;
}
