#align {
  padding-top: 23px;
}

#dropdown-form label,
#account-form label {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 1.1em;
  color: #ffffff;
}

#button-style {
  font-family: "poppins";
  font-weight: 400;
  background-color: #2e2e2e;
  border-style: solid;
  border-width: 1px;
  color: #ffffff61;
}

#button-style:hover {
  background-color: #00c4ff;
  color: #ffffff;
  font-weight: 400;
}

.buttons {
  margin-top: 50px;
  width: auto;
  text-align: center;
}
