#align {
  padding-top: 23px;
}

#dropdown-form label,
#account-form label,
#edit-account label,
#edit-pass label {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 1.1em;
  color: #ffffff;
}

#button-style {
  font-family: "poppins";
  font-weight: 400;
  background-color: #2e2e2e;
  border-style: solid;
  border-width: 1px;
  color: #ffffff61;
}

#button-style:hover {
  background-color: #00c4ff;
  color: #ffffff;
  font-weight: 400;
}

.buttons {
  margin-top: 30px;
  width: auto;
  text-align: center;
}

#challenge-container {
  margin-right: 24px;
  margin-left: 24px;
}

#challenge-btn-container {
  max-width: 293px
}

#edit-pass {
  margin-top: 25px
}

#new-pass-input {
  margin-top: 15px
}

#confirm-pass-input {
  margin-top: 15px
}

@media only screen and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
  #align {
    display: flex;
    justify-content: center;
    padding-top: 15px;
  }

  #pass-btn {
    margin-top: 25px;
  }

  #challenge-btn-container {
    max-width: none;
  }
}
