.dash-section-1 {
  width: auto;
  text-align: center;
}

.section-title {
  font-family: "Poppins";
  font-weight: 300;
  margin: 0 0 0 0;
}

.sherpa-img-smaller {
  max-width: 50%;
  height: auto;
}

.total {
  width: fit-content;
  text-align: center;
  margin: 10px 125px 0;
  font-family: Poppins;
  font-weight: 400;
  font-size: 1.2em;
  padding: 15px 25px;
  border-radius: 10px;
  background-color: #00c4ff;
  float: right;
}
