#challenge-description {
  background-color: #292929;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  font-family: "poppins";
  font-weight: 300;
  font-size: 1.2em;
}

#challenge-holder {
  border-style: none;
  text-align: center;
  padding: 10px 0 0;
}

#button-group {
  border-style: none;
  text-align: center;
}

#button-style {
  font-family: "poppins";
  font-weight: 400;
  background-color: #2e2e2e;
  border-style: solid;
  border-width: 1px;
  color: #ffffff61;
  margin: 5px 2px;
}

#button-style:hover {
  background-color: #00c4ff;
  color: #ffffff;
  font-weight: 400;
}

#challenge-description.completeChall {
  background-color: #6200ee;
}

#challenge-description.notCompleteChall {
  background-color: #500047;
}
