.valid {
  background-color: transparent;
}
.not-valid {
  color: white;
  background-color: red;
}

#register-form label,
#login-form label {
  color: white;
}

#register-form button,
#login-form button {
  margin-top: 10px;
  width: 100%;
  color: var(--default-text);
  background-color: var(--primary-color);
  font-size: 1.2rem;
}

#login-form .error-bg {
  background-color: rgb(253, 212, 212);
}

li {
  font-size: 14px;
}

#ver-list {
  margin-top: 0;
}
